.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #333333;
  color: white;
  padding: 0 5em 0 5em;
}

.content button {
  width: 60px;
}

.link {
  padding: 1rem;
  text-decoration: none;
  font: inherit;
  color: white;
  font-size: 2rem;
}

.category {
  margin-top: 1rem;
}

.guysWear {
  margin: 0.6rem 1rem 1.5rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vh; 
}

.guysWear p {
  margin-bottom: 0.2rem;
}

.guysWear button {
  margin-top: 0.25rem;
}

.prod {
  margin: 0.6rem 1.5rem 1.5rem 0rem;
  cursor: pointer;
}

.img {
  margin-top: 0.6rem;
}