.pictureBox {
  width: 80%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
}

.leftArrow {
  position: absolute;
  right: 349px;
  width: 55px;
  height: 55px;
  color: #2a9d8f;
  margin-left: 5rem;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  left: 349px;
  width: 55px;
  height: 55px;
  color: #2a9d8f;
  margin-right: 5rem;
  cursor: pointer;
}
