.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: #333333;
  color: white;
}

.footer h3 {
  margin-bottom: 0.25rem;
}

.icons {
  margin-right: 0.75rem;
  font-size: 18px;
  cursor: pointer;
}